
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <title>Blogs</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">


</head>

<body>


  <section id="hero">
    <nav class="navigation">
        <input type="checkbox" class="menu-btn" id="menu-btn" hidden>
        <label for="menu-btn" class="menu-icon">
            <span class="nav-icon"></span>
        </label>
        <div class="logoo">
            <a href="index.html" class="logo">Pneumo<span>Scan</span></a>
            <p>AI For Pneumonia Detection</p>
        </div>
        <ul class="menu">
          <li><a href="{% url 'dashboard'%}#hero">Home</a></li>
          <li><a href="{% url 'dashboard'%}#our-services">Our Services</a></li>
          <li><a href="{% url 'dashboard' %}#contact-us">Contact us</a></li>
          <li><a href="{% url 'blog'%}">Blogs</a></li>
      </ul>
      <a href="{% url 'logout'%}" class="chatbot-button">Log Out</a>
    </nav>
</section>

<header>
    <div class="header-content">
        <h1>Blogs Section</h1>
        <div class="user-info">
            <span id="userDisplayName">Welcome, <span id="username"></span></span>
            {% comment %} <button class="create-post-btn" onclick="openModal()">Create New Post</button> {% endcomment %}
            <a href="{% url 'create' %}" class="create-post-btn">Create New Post</a>

        </div>
    </div>
</header> 

  
  {% if user.is_authenticated %}
  <div class="container">
    <h5>MY POSTS</h5>
    <hr>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">

      {% for post in posts|slice:"0:3" %}
      <div class="col col-lg-4 col-md-6 col-12 mb-2 blog-post">
        <img src="{{media_url}}{{post.image}}" alt="" width="100%" height="300px">
        <div class=" px-3 py-5 shadow">
          <a href="{% url 'post' post.id %}" class="text-decoration-none text-dark">
            <span class="text-white bg-info text-center rounded-3 mt-5" style="padding: 8px;">{{post.category}}</span>
            <h5 class="mt-4">{{post.postname}}</h5>
          </a>
          <form method="post" action="{% url 'increaselikes' post.id %}">
            {% csrf_token %}
            <button class="float-right small" type="submit"
              style="border: none; background: transparent; font-size: 25px;"><i
                class="fa fa-heart text-danger"></i></button>
          </form>

          <p>{{post.content|slice:"0:100"}}...</p>
          <p class="small text-primary">{{post.time}} </p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% comment %} <a class="text-danger text-decoration-none" href="{% url 'profile' user.id %}" style="cursor:pointer;">View All {% endcomment %}
      {% comment %} </a> {% endcomment %}
  </div>
  {% endif %}


  <section class="blog-posts">
    <div class="container">
      <h3 class="text-center" style="margin: 50px; font-size: 40px; color: rgb(5, 1, 1);">RECENT POSTS</h3>
      <div class="row">
        <div class="col-lg-12">
          <div class="all-blog-posts">
            <div class="row">

              {% for post in recent_posts %}
              <div class="col-lg-12">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <img src="{{media_url}}{{post.image}}" alt="" style="height: 500px;">
                  </div>
                  <div class="down-content">
                    <span>{{post.category}}</span>
                    <form method="post" action="{% url 'increaselikes' post.id %}">
                      {% csrf_token %}
                      <button class="float-right btn btn-outline-danger" type="submit ">
                        {{post.likes}} <i class="fa fa-heart"></i></button>
                    </form>
                    <a href="{% url 'post' post.id %}" class="text-decoration-none text-dark">
                      <h5>{{post.postname}}</h5>
                    </a>
                    <ul class="post-info">
                      <li><a href="#">{{post.user}}</a></li>
                      <li><a href="#">{{post.time}}</a></li>
                    </ul>
                    <p style="max-width: 100%;">{{post.content|slice:"0:500"}}....</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>

  <!-- Additional Scripts -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/owl.js' %}"></script>
  <script src="{% static 'assets/js/slick.js' %}"></script>
  <script src="{% static 'assets/js/isotope.js' %}"></script>
  <script src="{% static 'assets/js/accordions.js' %}"></script>

  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>

</body>

</html>
